//BLUE theme
$clr-blue: (
    clr-wgg-orange: hsl(207, 100%, 55%),
    clr-wgg-orange-lighter: hsl(207, 100%, 75%),
    clr-bg-primary: hsl(0, 0%, 100%),
    clr-bg-secondary: hsl(0, 0%, 95%),
    clr-bg-tertiary: hsl(0, 0%, 90%),
    clr-bg-transparent: hsla(0, 0%, 100%, .5),
    clr-font: black,
);
$clr-blue-dark: (
    clr-wgg-orange: hsl(207, 100%, 55%),
    clr-wgg-orange-lighter: hsl(207, 100%, 35%),
    clr-bg-primary: hsl(0, 0%, 14%),
    clr-bg-secondary: hsl(0, 0%, 8%),
    clr-bg-tertiary: hsl(0, 0%, 30%),
    clr-bg-transparent: hsla(0, 0%, 18%, 0.9),
    clr-font: white,
);
//RED THEME
$clr-red: (
    clr-wgg-orange: hsl(0, 100%, 36%),
    clr-wgg-orange-lighter: hsl(0, 100%, 56%),
    clr-bg-primary: hsl(0, 0%, 100%),
    clr-bg-secondary: hsl(0, 0%, 95%),
    clr-bg-tertiary: hsl(0, 0%, 90%),
    clr-bg-transparent: hsla(0, 0%, 100%, .5),
    clr-font: black,
);

$clr-red-dark: (
    clr-wgg-orange: hsl(0, 100%, 66%),
    clr-wgg-orange-lighter: hsl(0, 100%, 46%),
    clr-bg-primary: hsl(0, 0%, 14%),
    clr-bg-secondary: hsl(0, 0%, 8%),
    clr-bg-tertiary: hsl(0, 0%, 30%),
    clr-bg-transparent: hsla(0, 0%, 18%, 0.9),
    clr-font: white,
);
//GREEN theme
$clr-green: (
    clr-wgg-orange: hsl(108, 100%, 36%),
    clr-wgg-orange-lighter: hsl(108, 100%, 56%),
    clr-bg-primary: hsl(0, 0%, 100%),
    clr-bg-secondary: hsl(0, 0%, 95%),
    clr-bg-tertiary: hsl(0, 0%, 90%),
    clr-bg-transparent: hsla(0, 0%, 100%, .5),
    clr-font: black,
);

$clr-green-dark: (
    clr-wgg-orange: hsl(132, 100%, 36%),
    clr-wgg-orange-lighter: hsl(132, 100%, 16%),
    clr-bg-primary: hsl(0, 0%, 14%),
    clr-bg-secondary: hsl(0, 0%, 8%),
    clr-bg-tertiary: hsl(0, 0%, 30%),
    clr-bg-transparent: hsla(0, 0%, 18%, 0.9),
    clr-font: white,
);

:root {
    @each $prop, $val in $clr-blue {
        --blue-#{$prop}: #{$val};
    }
    @each $prop, $val in $clr-blue-dark {
        --blue-dark-#{$prop}: #{$val};
    }
    @each $prop, $val in $clr-red {
        --red-#{$prop}: #{$val};
    }
    @each $prop, $val in $clr-red-dark {
        --red-dark-#{$prop}: #{$val};
    }
    @each $prop, $val in $clr-green {
        --green-#{$prop}: #{$val};
    }
    @each $prop, $val in $clr-green-dark {
        --green-dark-#{$prop}: #{$val};
    }
}

.blue {
    @each $prop, $val in $clr-blue {
        --#{$prop}: var(--blue-#{$prop});
        --dark-#{$prop}: var(--blue-dark-#{$prop});
    }
}

.red {
    @each $prop, $val in $clr-red {
        --#{$prop}: var(--red-#{$prop});
        --dark-#{$prop}: var(--red-dark-#{$prop});
    }
}

.green {
    @each $prop, $val in $clr-green {
        --#{$prop}: var(--green-#{$prop});
        --dark-#{$prop}: var(--green-dark-#{$prop});
    }
}