@import 'themes';

$clr: (
    clr-wgg-orange: hsl(29,100%,55%),
    clr-wgg-orange-lighter: hsl(29, 100%, 75%),
    clr-bg-primary: hsl(0, 0%, 100%),
    clr-bg-secondary: hsl(0, 0%, 95%),
    clr-bg-tertiary: hsl(0, 0%, 90%),
    clr-bg-transparent: hsla(0, 0%, 100%, .5),
    clr-font: black,
);

$clr-dark: (
    clr-wgg-orange: hsl(29, 89%, 48%),
    clr-wgg-orange-lighter: hsl(29, 89%, 28%),
    clr-bg-primary: hsl(0, 0%, 14%),
    clr-bg-secondary: hsl(0, 0%, 8%),
    clr-bg-tertiary: hsl(0, 0%, 30%),
    clr-bg-transparent: hsla(0, 0%, 18%, 0.9),
    clr-font: white,
);

:root {
    --fnt-title: 'Montserrat', sans-serif;
    --fnt-standard: 'Nunito Sans', sans-serif;
    --sz-content-width: 1080px;
    --sz-header-height: 70px;
    --sz-footer-height: 150px;
    --media-width-phone: 500px;
    @each $prop, $val in $clr {
        --#{$prop}: #{$val};
    }
    @each $prop, $val in $clr-dark {
        --dark-#{$prop}: #{$val};
    }
}