// Variables
@import 'variables';

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-text-size-adjust: none;
}

@media print {
    * {
        color: black;
    }
    .contentwrapper {
        margin: 0;
        padding: 0;
        max-width: 100%;
        min-height: 0;
    }
}

#app {
    overflow: hidden;
    background: var(--clr-bg-secondary);
}

.dark {
    @each $prop, $val in $clr {
        --#{$prop}: var(--dark-#{$prop});
    }
}

@media (prefers-color-scheme: dark) {
    #app.detect-colorscheme {
        @each $prop, $val in $clr {
            --#{$prop}: var(--dark-#{$prop});
        }
    }
}

html, body {
    overflow-x: hidden;
    background: black;
}

html {
    min-width: 320px;
}

body {
    margin: 0;
    color: var(--clr-font);
}

.link, .article-container a {
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    &:hover {
        text-decoration-thickness: 2px;
        // transform: translateY(-3px);
    }
    // &:hover:before {
    //     background: rgba(0,0,0,.2);
    //     display: block;
    //     position: absolute;
    //     content: '';
    //     top: 90%; left: 2.5%;
    //     width: 95%;
    //     height: 30%;
    //     box-shadow: 0 0 5px 10px rgba(0,0,0,.2);
    // }
    &:active {
        color: var(--clr-wgg-orange);
    }
}

.contentwrapper {
    min-height: calc(100vh - (2 * var(--sz-header-height)));
    max-width: var(--sz-content-width);
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    // background: var(--clr-bg-secondary);
}

// Bitte so wenig globale styles wie möglich benutzen. Ich empfehle einen vue component Link.vue oder so
//
// a {
//     color: inherit;
//     text-decoration: underline;
//     &:hover {
//         text-decoration-thickness: 2px;
//     }
//     &:active {
//         color: var(--clr-wgg-orange);
//     }
// }

@media only screen and (max-width: 850px) {
    #app {
        --sz-header-height: 50px;
    }
    .contentwrapper {
        min-height: calc(100vh - var(--sz-header-height)) !important;
    }
}

@media only screen and (max-width: 700px) {
    .contentwrapper {
        padding: 0;
    }
}